body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}
.wrap {
  display: flex;
  margin-bottom: 10px;
}

.numbersection {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 8%;
  height: 30px
}

button:focus {
  background-color: aqua;
}
